In [1]:
drink = '콜라' # drink 변수에 '콜라'이라는 String 값을 저장
food = '치킨'

print("나는 "+drink+"에 "+food+" 먹는 것을 좋아해요.")

나는콜라에 치킨 먹는 것을 좋아해요.

In [2]:
print("나는 {}에 {} 먹는 것을 좋아해요.".format(drink, food))

나는 콜라에 치킨 먹는 것을 좋아해요.

In [4]:
print("나는 {1}에 {0} 먹는 것을 좋아해요.".format(food, drink))

나는 콜라에 치킨 먹는 것을 좋아해요.

In [5]:
# 정수
type(10)

int

In [6]:
# 실수
type(3.14)

float

In [8]:
# 복보수
type(1+2j)

complex

In [10]:
a = 2
b = 10

In [11]:
# 더하기
a + b

12

In [12]:
# 빼기
a - b

-8

In [13]:
# 곱하기
a * b

20

In [15]:
# 거듭제곱
a ** b

1024

In [16]:
# 나누기
a / b

0.2

In [17]:
# 몫
a // b

0

In [20]:
# 나머지
a % b

2

In [22]:
# 문자열
type("안녕하세요")

str

In [23]:
# 리스트
type(['a', 'b', 'c', 'd', 'e'])

list

In [25]:
# 듀플
type(('a', 'b', 'c', 'd', 'e'))

tuple

In [26]:
type("코로나 제발 그만")

str

In [27]:
len("코로나 제발 그만")

9

In [28]:
str_a="안녕하세요."
str_b="류현성입니다."
print(str_a+str_b)

안녕하세요류현성입니다.

In [29]:
long_str = "Hello? 'python'"
print(long_str)

Hello? 'python'

In [30]:
long_str = 'Hello? "python"'
print(long_str)

Hello? "python"

In [32]:
b=2

print(0<b)
print(0>b)

True
False

In [33]:
t, f = True, False
print(type(t))

<class 'bool'>

In [34]:
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True

In [35]:
# 리스트
a = [1, 2, 3, 4]
type(a)

list

In [37]:
# 튜플
a = (1, 2, 3, 4)
type(a)

tuple

In [38]:
a[1:]

(2, 3, 4)

In [39]:
a[:]

(1, 2, 3, 4)

In [40]:
a[:2]

(1, 2)

In [47]:
a[:-1]

(1, 2, 3)

In [1]:
menu = '김밥'
중국집 = ['짜장면', '탕수육', '삼선짬뽕']
일식집 = ['초밥', '우동', '돈까스']

if menu in 중국집:
    print("중국집으로 시키자!")
elif menu in 일식집:
    print("일식집으로 시키자!")
else:
    print("분식집으로 시키자!")

분식집으로 시키자!

In [3]:
want = input("원하시는 음식을 선택해주세요")

menu = {'짜장면' :2000, '탕수육': 2500, '초밥': 3000}
if want in menu:
    print(f"{want}의 가격은 {menu[want]}원 입니다.")
else:
    print("메뉴에 없습니다.")

짜장면의 가격은 2000원 입니다.

In [4]:
a = 42
b = 100
if b < a or b > a:
    print("b가 a나 10보다 큼")

b가 a나 10보다 큼

In [5]:
a = 8
b = 9
if b>10:
    print("b가 10보다 큼")
    if b > a:
        print("b가 a보다 큼")
    else:
        pass

In [7]:
fruits = ['apple', 'banana', 'peach', 'fig']
for i in fruits:
    print(i)

apple
banana
peach
fig

In [9]:
for i in 'peach':
    print(i)

p
e
a
c
h

In [11]:
for i in range(1, 11):
    print(i, end = " ")

12345678910

In [12]:
for i in range(1, 11, 2):
    print(i, end = " ")

1 3 5 7 9

In [13]:
for i in range(100, 10, -10):
    print(i)

100
90
80
70
60
50
40
30
20

In [16]:
fruits = ['apple', 'banana', 'peach', 'fig']
for i in fruits:
    print(i)
    if i == 'peach':
        break

apple
banana
peach

In [17]:
fruits = ['apple', 'banana', 'peach', 'fig']
for i in fruits:
    print(i)
    if i == 'peach':
        pass

apple
banana
peach
fig

In [1]:
def my_function():
    print("Hello!")

In [2]:
my_function()

Hello!

In [5]:
def hello_function(name):
    print("Hello, "+name)
hello_function("Ryu")

Hello, Ryu

In [9]:
def hello_friends(name1, name2, name3):
    print("Hello, "+name1,name2,name3)
hello_friends("R", "Y", "U")

Hello, R Y U